<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta property="og:title" content="VP Staffing : The Concierge Agency" />
    <meta property="og:image" content="https://www.vpstaffingagency.com/images/images/ogimage.png" />

    <meta property="og:url" content="https://www.vpstaffingagency.com/" />
    <meta property="og:title" content="VP Staffing : The Concierge Agency">
    <meta property="og:site_name" content="vpstaffingagency" />

    <!-- font  -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Animate Css -->
    <link rel="stylesheet" href="./css/animate.css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!----------Custom Css--------->
    <link rel="stylesheet" href="./css/style.css">

    <!----------Media Css--------->
    <link rel="stylesheet" href="./css/media.css">

    <!--fav-icon--------->
    <link rel="shortcut icon" href="images/stethoscope.png">
    <title>Apply Now</title>

    <style>
        #alert {
            z-index: 1;
            position: fixed;
            top: 149px;
            right: 5px;
            /* width: 100%; */
            display: block;
        }
    </style>
</head>

<body>

    <!----------------------------------------------------------- Header Section ---------------------------------------------------------->
    <%- include('header') %>


        <!------------------------------------------------------------- Main Banner Section ----------------------------------------------------------------->


        <section class="overflow-hidden VectorSmartObjectBGImg marTop">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center paddingTop">

                    <div
                        class="col-lg-9 col-md-9 d-flex justify-content-center align-items-center paddingTop paddingBottom">
                        <div class="parent">
                            <div class="twins">
                                <div class="text wow fadeInDown" data-wow-delay="0.1s">
                                    <div>FILL OUT THE FORM TO GET STARTED</div>
                                </div>
                                <hr class="m-0">
                                <div class="text1 pb-4 wow fadeInDown" data-wow-delay="0.3s">
                                    <div>Nursing, Allied Health, Locum Tenens</div>
                                </div>
                                <form action="/apply/applyInsert" class="d-flex flex-column"
                                    enctype="multipart/form-data" method="post">

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="0.4s">
                                        <input type="text" id="Full Name" name="fullName" placeholder="Full Name"
                                            class="applyInput-box" required>
                                    </div>

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="0.5s">
                                        <input type="email" id="Email" name="email" placeholder="Email Address"
                                            class="applyInput-box" required>
                                    </div>

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="0.6s">
                                        <input type="number" id="Phone" name="phone" placeholder="Phone Number"
                                            class="applyInput-box" required>
                                    </div>

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="0.7s">
                                        <input id="zip" name="zipCode" type="number" inputmode="numeric"
                                            pattern="[0-9]*" placeholder="Zip Code" class="applyInput-box" required>
                                    </div>

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="0.8s">
                                        <select class="search-box " name="title" required>
                                            <option value="" disabled selected class="PetaTitle">Select
                                                Your Title</option>
                                            <option value="Allied Professional">Allied Professional
                                            </option>
                                            <option value="Non Clinical">Non-Clinical</option>
                                            <option value="MA">MA</option>
                                            <option value="Social Worker">Social Worker</option>
                                            <option value="THERAPIST">THERAPIST</option>
                                            <option value="LPN">LPN</option>
                                            <option value="TECH">TECH</option>
                                            <option value="CNA">CNA</option>
                                            <option value="NP">NP</option>
                                            <option value="PA">PA</option>
                                            <option value="PCA">PCA</option>
                                            <option value="PCT">PCT</option>
                                            <option value="RN">RN</option>
                                        </select>
                                    </div>

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="0.9s">
                                        <select class="search-box" name="speciality" required>
                                            <option value="" disabled selected class="PetaTitle">Select
                                                Your Specialty</option>
                                            <option value="ANESTHESIA TECH">ANESTHESIA TECH</option>
                                            <option value="CASE MANAGEMENT">CASE MANAGEMENT</option>
                                            <option value="CATH LAB">CATH LAB</option>
                                            <option value="CLINIC">CLINIC</option>
                                            <option value="CNA">CNA</option>
                                            <option value="Corrections">Corrections</option>
                                            <option value="DIALYSIS TECH">DIALYSIS TECH</option>
                                            <option value="EDUCATOR">EDUCATOR</option>
                                            <option value="EKG Tech">EKG Tech</option>
                                            <option value="Emergency Room">Emergency Room</option>
                                            <option value="ENDOSCOPY">ENDOSCOPY</option>
                                            <option value="Endoscopy Tech">Endoscopy Tech</option>
                                            <option value="EP Lab Tech">EP Lab Tech</option>
                                            <option value="ER Tech">ER Tech</option>
                                            <option value="ER-CNA">ER-CNA</option>

                                            <option value="ER-PCA">ER-PCA</option>
                                            <option value="HEMO-DIALYSIS">HEMO-DIALYSIS</option>
                                            <option value="Home Health">Home Health</option>

                                            <option value="Home Health - Visiting">Home Health -
                                                Visiting
                                            </option>
                                            <option value="ICU">ICU</option>
                                            <option value="Labor & Delivery">Labor & Delivery</option>
                                            <option value="Long Term Care-CNA">Long Term Care-CNA
                                            </option>
                                            <option value="LPN">LPN</option>
                                            <option value="LPN-Hospital">LPN-Hospital</option>
                                            <option value="LTC">LTC</option>
                                            <option value="LTC - Supervisor">LTC - Supervisor</option>
                                            <option value="LTC-LPN">LTC-LPN</option>
                                            <option value="Management">Management</option>
                                            <option value="Medical Surgical">Medical Surgical</option>
                                            <option value="Oncology">Oncology</option>
                                            <option value="Motherbaby">Motherbaby</option>
                                            <option value="New Grad-CNA">New Grad-CNA</option>
                                            <option value="New Grad-LPN">New Grad-LPN</option>


                                            <option value="NICU (Neonatal ICU)">NICU (Neonatal ICU)
                                            </option>
                                            <option value="NP">NP</option>
                                            <option value="OB Tech">OB Tech</option>
                                            <option value="Operating Room">Operating Room</option>
                                            <option value="OR Tech">OR Tech</option>
                                            <option value="PA">PA</option>
                                            <option value="PACU">PACU</option>
                                            <option value="PCA">PCA</option>
                                            <option value="PCT">PCT</option>
                                            <option value="PCT-EKG">PCT-EKG</option>
                                            <option value="PEDIATRICS">PEDIATRICS</option>
                                            <option value="PEDIATRICS-HOMECARE">PEDIATRICS - HOMECARE
                                            </option>
                                            <option value="Private-Duty-LPN">Private Duty-LPN</option>
                                            <option value="Psych-CNA">Psych-CNA</option>

                                            <option value="Psychiatry">Psychiatry</option>
                                            <option value="Radiology">Radiology</option>
                                            <option value="Radiology Tech">Radiology Tech</option>
                                            <option value="RN - New Grad">RN - New Grad</option>
                                            <option value="School">School</option>
                                            <option value="Sitter">Sitter</option>
                                            <option value="Sterile Processing Tech">Sterile Processing
                                                Tech
                                            </option>
                                            <option value="Telemetry/PCU">Telemetry/PCU</option>
                                            <option value="NICU">NICU</option>
                                            <option value="Clerk - Billing Representative">Clerk -
                                                Billing
                                                Representative</option>
                                            <option value="Certified-Medical-Coders">Certified Medical
                                                Coders</option>
                                            <option value="Clerk">Clerk</option>
                                            <option value="Dental Assistant">Dental Assistant</option>
                                            <option value="Pharmacist">Pharmacist</option>

                                            <option value="Pharmacy Technician">Pharmacy Technician
                                            </option>
                                            <option value="Phlebotomist">Phlebotomist</option>
                                            <option value="Recreation Aide">Recreation Aide</option>
                                            <option value="Security Guard">Security Guard</option>
                                            <option value="Home Health - Oasis">Home Health - Oasis
                                            </option>
                                            <option value="Home Health - UAS Assessments">Home Health -
                                                UAS
                                                Assessments</option>
                                            <option value="Audits - Infection Control">Audits -
                                                Infection
                                                Control</option>
                                            <option value="Clinic - Amb Care">Clinic - Amb Care</option>
                                            <option value="Clinic - Amb Surg">Clinic - Amb Surg</option>
                                            <option value="Clinic - Covid Testing">Clinic - Covid
                                                Testing
                                            </option>
                                            <option value="Clinic - Flu/Covid Vaccine">Clinic -
                                                Flu/Covid
                                                Vaccine</option>
                                            <option value="Detox">Detox</option>
                                            <option value="GROUP HOME">GROUP HOME</option>
                                            <option value="Home Health - Hospice">Home Health - Hospice
                                            </option>
                                            <option value="IV TEAM">IV TEAM</option>
                                            <option value="Medical Surgical - Hospice">Medical Surgical
                                                -
                                                Hospice</option>
                                            <option value="Monitor Tech">Monitor Tech</option>

                                            <option value="Management - Director of Nursing">Management
                                                -
                                                Director of Nursing</option>
                                            <option value="Beautician">Beautician</option>

                                            <option value="Cath Lab Tech">Cath Lab Tech</option>
                                            <option value="Central Supply Assistant">Central Supply
                                                Assistant</option>
                                            <option value="Certified Trauma Registrar">Certified Trauma
                                                Registrar</option>

                                            <option value="Certified Tumor Registrar">Certified Tumor
                                                Registrar</option>
                                            <option value="Clerk - Credentialing Coordinator">Clerk -
                                                Credentialing Coordinator</option>

                                            <option value="Clerk - Data Entry Specialist">Clerk - Data
                                                Entry
                                                Specialist</option>
                                            <option value="Clerk - Graphics Designer">Clerk - Graphics
                                                Designer</option>
                                            <option value="Clerk - IT">Clerk - IT</option>
                                            <option value="Clerk - Navigation Associate">Clerk -
                                                Navigation
                                                Associate</option>
                                            <option value="Clerk - Recruiter">Clerk - Recruiter</option>
                                            <option value="Clerk - Staff Accountant">Clerk - Staff
                                                Accountant</option>
                                            <option value="Clinical Lab Scientist/Technician">Clinical
                                                Lab
                                                Scientist/Technician</option>
                                            <option value="CLT - Blood Bank">CLT - Blood Bank</option>
                                            <option value="CLT - Chemistry">CLT - Chemistry</option>
                                            <option value="CLT - Supervisor">CLT - Supervisor</option>
                                            <option value="Cook">Cook</option>
                                            <option value="CT Tech (Bluesky)">CT Tech (Bluesky)</option>
                                            <option value="CV OR Tech">CV OR Tech</option>

                                            <option value="Dental Hygienist">Dental Hygienist</option>
                                            <option value="Dietary Aid">Dietary Aid</option>
                                            <option value="Echo Tech">Echo Tech</option>
                                            <option value="Emergency Room - Pediatrics">Emergency Room -
                                                Pediatrics</option>
                                            <option value="Patient Escort">Patient Escort</option>
                                            <option value="Histology Tech">Histology Tech</option>
                                            <option value="Housekeeper">Housekeeper</option>
                                            <option value="Infection Preventionist">Infection
                                                Preventionist
                                            </option>
                                            <option value="IV Team - Anesthesia">IV Team - Anesthesia
                                            </option>
                                            <option value="Laboratory Assistant">Laboratory Assistant
                                            </option>
                                            <option value="Mammography Tech">Mammography Tech</option>
                                            <option value="Manager">Manager</option>
                                            <option value="Neurodiagnostic Technician/EEG">
                                                Neurodiagnostic
                                                Technician/EEG</option>
                                            <option value="Non Clinical Manager">Non Clinical Manager
                                            </option>
                                            <option value="Nuclear Medicine Technologist (Bluesky)">
                                                Nuclear
                                                Medicine Technologist (Bluesky)</option>
                                            <option value="Ophthalmology Tech">Ophthalmology Tech
                                            </option>
                                            <option value="Registered Dietician">Registered Dietician
                                            </option>
                                            <option value="Respiratory Therapist">Respiratory Therapist
                                            </option>
                                            <option value="Sleep Technologist">Sleep Technologist
                                            </option>
                                            <option value="Stock Person">Stock Person</option>
                                            <option value="Telemetry Tech">Telemetry Tech</option>
                                            <option value="Ultrasound Tech/Sonographer">Ultrasound
                                                Tech/Sonographer</option>
                                            <option value="Warehouse Manager"> Warehouse Manager
                                            </option>
                                            <option value="X-ray Tech">X-ray Tech</option>
                                            <option value="Activity Therapist">Activity Therapist
                                            </option>
                                            <option value="Case Management (BA)"> Case Management (BA)
                                            </option>
                                            <option value="Case Management (MA)">Case Management (MA)
                                            </option>
                                            <option value="Clerk - Language Coordinator">Clerk -
                                                Language
                                                Coordinator</option>
                                            <option value="Creative Art Therapist">Creative Art
                                                Therapist
                                            </option>
                                            <option value="EMT - Paramedic">EMT - Paramedic</option>
                                            <option value="Mortuary Technician">Mortuary Technician
                                            </option>
                                            <option value="MRI Tech">MRI Tech</option>
                                            <option value="Radiation Therapist">Radiation Therapist
                                            </option>
                                            <option value="Rehab Aide">Rehab Aide</option>
                                            <option value="Speech Pathologist (Speech Therapist Hospitals)">
                                                Speech Pathologist (Speech Therapist Hospitals)</option>
                                            <option value="MRDD">MRDD</option>
                                            <option value="MSC">MSC</option>
                                            <option value="Occupational Therapist">Occupational
                                                Therapist
                                            </option>
                                            <option value="OPWDD">OPWDD</option>
                                            <option value="ORT- New Grad">ORT- New Grad</option>
                                            <option value="PHD">PHD</option>
                                            <option value="Physical Therapist">Physical Therapist
                                            </option>
                                            <option value="Psych">Psych</option>
                                            <option value="Psychiatric Tech">Psychiatric Tech</option>
                                            <option value="Rehab">Rehab</option>
                                            <option value="SOCIAL WORKER">SOCIAL WORKER</option>
                                            <option value="Supply Data Analyst">Supply Data Analyst
                                            </option>
                                            <option value="THERAPIST">THERAPIST</option>
                                            <option value="Wound Care">Wound Care</option>
                                            <option value="DRIVER">DRIVER</option>
                                            <option value="Speech Therapist">Speech Therapist</option>
                                            <option value="LCSW">LCSW</option>
                                            <option value="LMSW">LMSW</option>
                                            <option value="Oncology – Chemo Infusion">Oncology – Chemo
                                                Infusion</option>
                                            <option value="Food Services">Food Services</option>
                                        </select>
                                    </div>

                                    <div class="d-flex flex-column wow fadeInDown" data-wow-delay="1s">
                                        <div fro="fileUpload" class="applynowText3 pt-2">Upload Resume:
                                        </div>
                                        <input type="file" id="fileUpload" class="applyInput-file" name="file" required>
                                    </div>


                                    <div class="text-center applyText pb-4 fw-bold pt-2 wow fadeInDown"
                                        data-wow-delay="1.1s">Are you ready to make a difference?
                                    </div>

                                    <div class="d-flex flex-column fw-bold wow fadeInDown" data-wow-delay="1.2s">
                                        <button type="submit" class="vafSubmit button-3">Submit</button>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>

        <!--------------------------------------------------------------- Footer Section ------------------------------------------------------------------>
        <%- include('footer') %>

</body>

<!-- Wow JS -->
<script src="./js/wow.min.js"></script>

<script>
    new WOW().init();
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


<!-- Script CSS -->
<script src="./js/app.js"></script>




</html>