<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:title" content="VP Staffing : The Concierge Agency" />
    <meta property="og:image" content="https://www.vpstaffingagency.com/images/images/ogimage.png" />

    <meta property="og:url" content="https://www.vpstaffingagency.com/" />
    <meta property="og:title" content="VP Staffing : The Concierge Agency">
    <meta property="og:site_name" content="vpstaffingagency" />

    <!-- font  -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Animate Css -->
    <link rel="stylesheet" href="./css/animate.css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!----------Custom Css--------->
    <link rel="stylesheet" href="./css/style.css">

    <!----------Media Css--------->
    <link rel="stylesheet" href="./css/media.css">

    <!--fav-icon--------->
    <link rel="shortcut icon" href="images/stethoscope.png">
    <title>Client</title>
</head>

<body>


    <!----------------------------------------------------------- Header Section ---------------------------------------------------------->
    <%- include('header') %>

        <!------------------------------------------------------------- Main Banner Section ----------------------------------------------------------------->
        <div class="VectorSmartObjectBGImg marTop">

            <section class="">
                <div class="container">
                    <div class="row align-items-center paddingBottom paddingTop">
                        <div class="col-lg-6 d-flex justify-content-center align-items-center p-3 wow flipInX">
                            <img src="images/Customer relationship management-rafiki.png" alt="Refer Friend"
                                class="img-fluid Refer-Friend" draggable="true">
                        </div>
                        <div
                            class="col-lg-6 d-flex flex-column justify-content-center align-items-center align-items-lg-start">
                            <div class="rafranceText py-1 text-center wow fadeInRight" data-wow-delay="0.2s">VP
                                STAFFING
                                SERVICES</div>
                            <div class="text3 py-1 text-center text-lg-start wow fadeInRight" data-wow-delay="0.4s">
                                VP
                                staffing networks with quality nurses and
                                clinicians
                                for placement in facilities nationwide</div>
                            <a href="/about-us">
                                <div class="Btnrafrance my-3 wow fadeInRight" data-wow-delay="0.6s">
                                    Learn About Us
                                </div>
                            </a>
                        </div>
                    </div>


                </div>
            </section>

            <!------------------------------------------------------------- Services Section ----------------------------------------------------------------->
            <section>
                <div class="container">
                    <div class="text-center stackfont">
                        <div class="text-center wow flash" data-wow-delay="1s">
                            <img class="img-fluid" src="./images/lifeline.png" alt="lifelineImg" draggable="false">
                            SERVICES
                            <img class="img-fluid" src="./images/lifeline.png" alt="lifelineImg" draggable="false">
                        </div>
                    </div>
                    <div class="d-flex justify-content-center pb-5 wow flash" data-wow-delay="1s">
                        <img src="images/Uderline.png" alt="Uderline" class="img-fluid" draggable="false">
                    </div>

                    <div class="row align-items-center justify-content-center paddingBottom py-5">

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Home-Health.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.1s">
                                Home Health
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Hospitals.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.2s">
                                Hospitals
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Correctional.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.3s">
                                Correctional
                            </div>
                        </div>


                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Psych-Centers.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.4s">
                                Psych
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/dialysis-centers.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.5s">
                                Dialysis Centers
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Schools.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.6s">
                                Schools
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Clinics.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.7s">
                                Clinics
                            </div>
                        </div>

                        <div class="col-lg-3 col-sm-6 py-5 px-0">
                            <div class="iconImg d-flex justify-content-center align-items-center pb-2 wow bounceIn">
                                <img src="images/icon/Nursing-Homes.png" alt="Competitive Earning" draggable="false"
                                    class="img-fluid">
                            </div>
                            <div class="px-5 text2 text-center wow fadeInDown" data-wow-delay="0.8s">
                                Nursing Homes
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>

        <!--------------------------------------------------------------- Footer Section ------------------------------------------------------------------>
        <%- include('footer') %>


</body>

<!-- Wow JS -->
<script src="./js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


<!-- Script CSS -->
<script src="./js/app.js"></script>




</html>