<footer class="footer-section">
    <div class="container">
        <div class="footer-content ">
            <div class="row pt-3 wow fadeIn" data-wow-delay="0.1s">
                <div class="col-xl-4 col-lg-4 px-3">
                    <div
                        class="footer-logo d-flex justify-content-center justify-content-lg-start align-items-center align-items-lg-center">
                        <a href="#">
                            <img src="images/Final_Logo1.png" class="img-fluid" draggable="false" alt="logo">
                        </a>
                    </div>

                    <div
                        class="footer-widget-heading mb-3 d-flex justify-content-lg-start justify-content-around align-items-center align-items-lg-center">
                        <div>Follow Us On</div>
                    </div>
                    <div class="row footer-widget">
                        <div class="col-6 wow fadeIn" data-wow-delay="0.2s">
                            <a href="https://www.facebook.com/profile.php?id=100087023400204" target="_blank"
                                class="footer-text d-flex justify-content-start align-items-center">
                                <i class="fa-brands fa-square-facebook me-2"></i>
                                <div class="">Facebook</div>
                            </a>
                        </div>

                        <div class="col-6 wow fadeIn" data-wow-delay="0.4s">
                            <a href="https://www.instagram.com/invites/contact/?i=vrrzjc15mt6g&utm_content=pe8ugr4"
                                target="_blank" class="footer-text d-flex justify-content-start align-items-center">
                                <i class="fa-brands fa-square-instagram me-2"></i>
                                <div>Instagram</div>
                            </a>
                        </div>
                        <div class="col-6 wow fadeIn" data-wow-delay="0.5s">
                            <a href="https://www.linkedin.com/company/vp-staffing-agency/" target="_blank"
                                class="footer-text d-flex justify-content-start align-items-center">
                                <i class="fa-brands fa-linkedin me-2"></i>
                                <div>Linkedin</div>
                            </a>
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="row py-3 footer-widget">
                        <div class="footer-widget-heading mb-3 d-flex justify-content-lg-start justify-content-center align-items-center align-items-lg-center wow fadeIn"
                            data-wow-delay="0.1s">
                            <div>Services</div>
                        </div>
                        <div class="col-sm-6">
                            <ul>
                                <li class="wow fadeIn" data-wow-delay="0.2s"><a href="/"><i
                                            class="fa-solid fa-angles-right pe-2"></i>HOME</a>
                                </li>
                                <li class="wow fadeIn" data-wow-delay="0.5s"><a href="/applynow"><i
                                            class="fa-solid fa-angles-right pe-2"></i>APPLY
                                        NOW</a></li>
                                <li class="wow fadeIn" data-wow-delay="0.8s"><a href="/govt-sol"><i
                                            class="fa-solid fa-angles-right"></i> GOVERNMENT
                                        SOLUTIONS</a>
                                </li>
                                <li class="wow fadeIn" data-wow-delay="0.2s"><a href="/about-us"><i
                                            class="fa-solid fa-angles-right pe-2"></i>ABOUT US</a>
                                </li>
                            </ul>
                        </div>

                        <div class="col-sm-6">
                            <ul>
                                <li class="wow fadeIn" data-wow-delay="0.6s"><a href="/contact-us"><i
                                            class="fa-solid fa-angles-right pe-2"></i>CONTACT
                                        US</a></li>
                                <li class="wow fadeIn" data-wow-delay="0.3s"><a href="/client"><i
                                            class="fa-solid fa-angles-right pe-2"></i>CLIENT</a>
                                </li>
                                <li class="wow fadeIn" data-wow-delay="0.4s"><a href="/refer-frnd"><i
                                            class="fa-solid fa-angles-right pe-2"></i>REFER
                                        A FRIEND</a>
                                </li>
                                <li class="wow fadeIn" data-wow-delay="0.7s"><a href="benefits"><i
                                            class="fa-solid fa-angles-right pe-2"></i>BENEFITS</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>

                <div class="col-xl-4 col-lg-4">
                    <div class="footer-widget-heading mb-3 d-flex justify-content-lg-start justify-content-around align-items-center align-items-lg-center wow fadeIn"
                        data-wow-delay="0.1s">
                        <div>Contact Info</div>
                    </div>
                    <div class="footer-text py-2 d-flex justify-content-start align-items-start wow fadeIn"
                        data-wow-delay="0.2s">
                        <i class="fa-solid fa-phone pe-2"></i>
                        <div>(786) 715-6132</div>
                    </div>

                    <div class="footer-text py-2 d-flex justify-content-start align-items-start wow fadeIn"
                        data-wow-delay="0.3s">
                        <i class="fa-solid fa-envelope pe-2"></i>
                        <div><a href="mailto: valery@vpstaffingagency.com">valery@vpstaffingagency.com</a>
                        </div>
                    </div>

                    <div class="footer-text py-2 d-flex justify-content-start align-items-start wow fadeIn"
                        data-wow-delay="0.4s">
                        <i class="fa-solid fa-location-dot pe-2"></i>
                        <div>
                            #1218 1919 Taylor Street STE F Houston, TX 77007.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="footer-cta">
            </div>

            <div class="copyright-text py-3 text-center">
                <p class="m-0">Copyright © 2022 VP Staffing. All Rights Reserved.<a href="#"></a></p>
            </div>

        </div>
    </div>
</footer>