<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta property="og:title" content="VP Staffing : The Concierge Agency" />
    <meta property="og:image" content="https://www.vpstaffingagency.com/images/images/ogimage.png" />

    <meta property="og:url" content="https://www.vpstaffingagency.com/" />
    <meta property="og:title" content="VP Staffing : The Concierge Agency">
    <meta property="og:site_name" content="vpstaffingagency" />

    <!-- font  -->
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

    <!-- Animate Css -->
    <link rel="stylesheet" href="./css/animate.css" />

    <!-- Bootstrap Css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!----------Custom Css--------->
    <link rel="stylesheet" href="./css/style.css">

    <!----------Media Css--------->
    <link rel="stylesheet" href="./css/media.css">

    <!--fav-icon--------->
    <link rel="shortcut icon" href="images/stethoscope.png">
    <title>Compatibility Statement</title>
</head>

<body>


    <!----------------------------------------------------------- Header Section ---------------------------------------------------------->
    <%- include('header') %>


    <!------------------------------------------------------------- Main Banner Section ----------------------------------------------------------------->

        <section class="overflow-hidden VectorSmartObjectBGImg marTop" id="search-1">
            <div class="container">
                <div class="row d-flex justify-content-center align-items-center paddingTop">



                    <div class="col-lg-12 col-md-12 col-sm-12 text-start wow fadeInDown" data-wow-delay="0.5s">

                        <br>
                        <div>PROFESSIONAL SERVICES</div><br>

                        <div>CAPABILITY STATEMENT</div>

                        <p>
                        <div>DUNS: 109558541</div>
                        </p>

                        <p>
                        <div>CAGE:</div>
                        </p>

                        <p>
                        <div>UEID: </div>
                        </p>

                        <p>
                        <div class="mission fw-bold">MISSION STATEMENT </div>
                        </p>
                        <p>
                            <span>
                                VP Staffing’s mission is to provide healthcare staffing support services to our
                                government
                                clients and exceeding expectations while maintaining a level of service that is
                                unparalleled
                                in the healthcare industry
                            </span>
                        </p>

                        <p><span class="mission fw-bold">COMPANY OVERVIEW</span></p>

                        <p>
                            <span>
                                VP Staffing Agency is a Texas-based healthcare staffing company. We offer a combined 10
                                years of industry experience, is a nurse and woman owned and operated business, offering
                                quality and professional services. Our services include the placement of vetted and the
                                most
                                highly qualified healthcare clinicians in the field. Join our VP team and allow us to
                                meet
                                your staffing needs through excellence, diversity and professionalism.
                            </span>
                        </p>

                        <p><span class="mission fw-bold">CORE COMPETENCIES</span></p>

                        <div class="pb-3">
                            <div class="li-bullet-0">
                                <span class="">We specialize in delivering premium services for organizations in the
                                    following areas: </span>
                                <span>&nbsp;</span>
                            </div>
                            <div class="li-bullet-0">
                                <span class="">Healthcare Employee Placement</span>
                                <span>&nbsp;</span>
                            </div>
                            <div class="li-bullet-0">
                                <span class="">Temporary Staffing</span>
                                <span>&nbsp;</span>
                            </div>
                            <div class="li-bullet-0">
                                <span class="">Temp-to-Perm Staffing</span>
                                <span>&nbsp;</span>
                            </div>
                            <div class="li-bullet-0">
                                <span class="">Direct Hire Staffing</span>
                                <span>&nbsp;</span>
                            </div>
                            <div class="li-bullet-0">
                                <span class="">Emergency Deployment Staffing </span>
                                <span>&nbsp;</span>
                            </div>
                        </div>

                        <p><span class="mission fw-bold">DIFFERENTIATORS</span></p>

                        <p class="c5"><span class="c9"></span></p>

                        <div class="c17 lst-kix_list_1-1 start">
                            <li class="li-bullet-0">
                                <span class="">Nurse-owned and operated</span>
                            </li>
                            <li class="li-bullet-0">
                                <span class="">Experienced in working both, the medical
                                    field and for staffing agencies</span>
                            </li>
                            <li class="li-bullet-0">
                                <span class="">Provide expert employee placement locally
                                    & nationwide, and allowing facilities to meet
                                    diversity goals</span>
                            </li>
                            <li class="li-bullet-0">
                                <span class="">Provide proven customized solutions to
                                    reduce staff turnover and increase staff
                                    retention, through our thorough evaluations
                                </span>
                            </li>

                        </div>

                        <p class="TextGov fw-bold pt-3"><span>NAICS CODE</span></p>
                        <p>
                            <span class="naicsText fw-bolder">Staffing:</span><br>
                            561320 Temporary help services <br>
                            621999 All other Misc. Ambulatory Health Care services <br>
                            561210 Facility Support Services <br>
                            624230 Emergency & Other Relief Services<br>
                            622110 General Medical Surgical Hospital<br>
                            623110 Nursing Care Facilities<br>
                            561311 Employment Placement Agencies<br>
                        </p>

                        <p class="c2">
                            <span class="naicsText fw-bolder">Consulting:</span> <br>
                            541611 Administrative Management &amp; General Management Consulting Services <br>
                            541618 Other Management Consulting Services <br>
                            561499 All Other Business Support Services <br>
                        </p>


                        <p>
                            <span class="naicsText fw-bolder">PSC CODES:</span><br>
                            Q999 Medical: Other <br>
                            R429 Support- Professional: Emergency Response<br>
                            Q401 Medical Nursing<br>
                            Q201 Medical General Healthcare<br>
                            Q701 Specialized Medical Support<br>
                            R499 Support- Professional: Other<br>
                        </p>

                        <p class="c12">
                            <span class="naicsText fw-bolder">Contacts:</span>
                            <br>
                            Valery Pierre|CEO<br>
                            Vpstaffingagency.com<br>
                            Valery@vpstaffingagency.com<br>
                            Tele: (786) 715-6132<br>
                            Headquarters: #1218 1919 Taylor Street STE F Houston, TX 77007<br>
                        </p>
                        <p class="c19 c5"><span></span></p>

                        <p class="c26"><span class="mission fw-bold">PARTNERS:</span></p>
                        <div class="row d-flex justify-content-center align-items-center pt-3">
                            <div class="col-lg-3 col-md-6 col-sm-6 pt-1 pb-4 text-center wow bounceIn"
                                data-wow-delay="0.1s">
                                <img class="img-fluid" draggable="false" src="./images/flomed-removebg-preview.png"
                                    alt="Flomed Img">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 pt-1 pb-4 text-center wow bounceIn"
                                data-wow-delay="0.2s">
                                <img class="img-fluid" draggable="false" src="./images/accessible-removebg-preview.png"
                                    alt="Accessible">
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 pt-1 pb-4 text-center wow bounceIn"
                                data-wow-delay="0.3s">
                                <img class="img-fluid" draggable="false" src="./images/laurelle-removebg-preview.png"
                                    alt="Laurelle">
                            </div>
                        </div>

                        <div class="pt-3">
                            <span class="mission fw-bold">CERTIFICATIONS:</span>
                            <div class="row d-flex justify-content-center align-items-center pt-2">
                                <div class="col-lg-3 col-md-4 col-sm-6 pt-2 text-center wow bounceIn"
                                    data-wow-delay="0.4s">
                                    <img class="img-fluid ImageSize" draggable="false" src="./images/asa.jpg" alt="ASA">
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 pt-2 text-center wow bounceIn"
                                    data-wow-delay="0.5s">
                                    <img class="img-fluid ImageSize" draggable="false"
                                        src="./images/samgov-removebg-preview.png" alt="Samgov">
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 pt-2  text-center wow bounceIn"
                                    data-wow-delay="0.6 s">
                                    <img class="img-fluid ImageSize" draggable="false"
                                        src="./images/texas-removebg-preview.png" alt="Texas">
                                </div>
                            </div>
                        </div>

                        <div
                            class=" row pb-3 pt-4 ImgLink d-flex justify-content-lg-start align-items-lg-start justify-content-sm-center">
                            <span class="h5"><a href="/images/VPStaffingCapabilityStatement.pdf" download>Download
                                    Capabilities Statement</a></span>
                        </div>
                    </div>

                </div>
            </div>
        </section>

    <!--------------------------------------------------------------- Footer Section ------------------------------------------------------------------>
    <%- include('footer') %>

</body>

<!-- Wow JS -->
<script src="./js/wow.min.js"></script>
<script>
    new WOW().init();
</script>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>


<!-- Script CSS -->
<script src="./js/app.js"></script>




</html>