<header>
    <div class="bgHeader header"></div>
    <div class="container">
        <div class="row mainusMrg">
            <div class="col-lg-6 d-flex justify-content-center justify-content-lg-start align-items-start py-3">
                <div class="contact-info mailText d-flex flex-wrap justify-content-center align-items-center">
                    <a href="tel:(786) 715-6132" class="px-1 whiteSpace wow fadeInDown"><i
                            class="fa-solid fa-phone text-black pe-2"></i>(786) 715-6132</a>
                    <div class="mx-2 wow fadeInDown">|</div>
                    <a href="mailto: valery@vpstaffingagency.com" target="_blank"
                        class="px-1 whiteSpace wow fadeInDown"><i class="fa-solid fa-envelope pe-2"></i>
                        valery@vpstaffingagency.com</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="d-none d-lg-flex justify-content-lg-end align-items-center text-white py-3 px-0">
                    <div class="">
                        <a href="https://www.facebook.com/profile.php?id=100087023400204"
                            class="facebook px-2 rounded-circle wow fadeInDown" data-wow-delay="0.1s"><img
                                src="./images/facebook.png" alt="Facebook" class="img-fluid" draggable="false"></a>
                        <a href="https://www.instagram.com/invites/contact/?i=vrrzjc15mt6g&utm_content=pe8ugr4"
                            class="instagram px-2 rounded-circle wow fadeInDown" data-wow-delay="0.2s"><img
                                src="./images/instagram.png" alt="Instagram" class="img-fluid"
                                draggable="false"></a>
                        <a href="https://www.linkedin.com/company/vp-staffing-agency/"
                            class="linkedin px-2 rounded-circle wow fadeInDown" data-wow-delay="0.6s"><img
                                src="./images/linkedin.png" alt="Linkedin" class="img-fluid" draggable="false"></a>
                    </div>
                </div>
            </div>
            <div class="row px-4 m-0">
                <div class="d-flex  justify-content-between align-items-center mainNav header px-4">

                    <a href="/" class="wow fadeIn" data-wow-delay="0.1s">
                        <img src="images/Final_Logo.png" alt="Logo" class="img-fluid HeaderLogo " draggable="false">
                    </a>

                    <nav class="navbar ms-lg-auto p-0 ">
                        <ul class="d-flex m-0 navbar-list">
                            <div class="close-navbar-btn">
                                <i class="fa-solid fa-xmark close-outline"></i>
                            </div>


                            <li class="me-xl-3 me-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.2s">
                                <a class="navbar-link active navItem" href="/">HOME</a>
                            </li>
                            <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.3s">
                                <a class="navbar-link navItem" href="/applynow">APPLY NOW</a>
                            </li>
                            <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.5s">
                                <a class="navbar-link navItem" href="/govt-sol">Government
                                    Solutions</a>
                            </li>
                            <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.4s">
                                <a class="navbar-link navItem" href="/about-us">ABOUT US</a>
                            </li>
                            <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.6s">
                                <a class="navbar-link navItem" href="/contact-us">CONTACT US</a>
                            </li>
                            <li class="mx-xl-3 mx-md-2 menuitem MainNavPad wow fadeIn" data-wow-delay="0.7s">
                                <a class="navbar-link navItem" href="/client">CLIENT</a>
                            </li>
                            <li class="ms-xl-3 ms-md-2 mt-0 mt-md-1 menuitem MainNavPad wow fadeIn"
                                data-wow-delay="0.8zs">
                                <a class="navbar-link navItem d-none d-lg-block" href="#">RESOURCES</a>
                                <ul class="PetaMenu text-center poREl">
                                    <li><a href="/refer-frnd">REFER A FRIEND</a></li>
                                    <li><a href="benefits">BENEFITS</a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                    <div class="mobile-navbar-btn_one">
                        <i name="menu-outline" class="fa-solid fa-bars"></i>
                    </div>
                </div>
            </div>


        </div>
    </div>
</header>